@import "../../../../assets/styles/variables";

.card__v5 {
    background-color: #FFF6FB;
    box-shadow: 0px 8px 40px 0px #31208A0D;
    padding: 10px 10px 10px 25px;
    width: 100%;
    &__content {
        h3 {
            font-size: 26px;
            line-height: 1;
            font-style: normal;
        }
        a {
            color: $color-pink;
        }
    }
    &__image {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}