@import "../../assets/styles/variables";

.header {
  width: 100%;
  color: #f1f1f1;
  .container {
    overflow: unset;
  }
  &--flex--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bar {
    width: 100%;
    height: 44px;
    background-color: $color-header;
  }
  &__barLeft,
  &__barRight {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15px;
    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 1;
      gap: 5px;
      cursor: pointer;
    }
  }
  &__barRight {
    gap: 25px;
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 200px;
      top: 35px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 999999;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  }
  &__navBar {
    width: 100%;
    height: 40px;
    margin: 19px 0;
    .logo {
      font-family: JosefinSans-Bold;
      font-size: 34px;
      line-height: 1;
      color: #000;
    }
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Lato-Bold;
      font-weight: 600;
      gap: 35px;
      margin-left: 88px;
      li {
        font-size: 16px;
        line-height: calc(20 / 16);
        a {
          color: $color-text;
        }
        a:hover {
          color: $color-pink;
        }
      }
    }
    .header__search {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 317px;
      position: relative;
     
      .result_search {
        position: absolute;
        width: 100%;
        max-height: 500px;
        box-shadow: 1px 5px 2px #8d8686;
        top: 50px;
        z-index: 10;
        border-radius: 5px;
        background: white;
        color: #fb2e86;
        overflow-y: scroll;
        &:hover {
          overflow-y: scroll;
          transition: 1s;
        }
        &::-webkit-scrollbar {
          width: 5px;
        }
    
        &::-webkit-scrollbar-track {
          border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
          background: #FB2E86;
          border-radius: 10px;
        }
        .result_collection {
          :hover {
            background-color: #f3f3f3;
          }
          .item_result {      
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            padding: 10px 5px;
          
            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
            }
            p {
              font-size: 15px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* number of lines to show */
                      line-clamp: 2; 
              -webkit-box-orient: vertical;
           }
          }
        }
      }
      input {
        font-family: JosefinSans-Bold;
        border: 2px solid #e7e6ef;
        border-right-color: transparent;
        font-size: 14px;
        color: #8d8686;
        padding-left: 10px;
        width: 100%;
        height: calc(40px - 2px);
      }
      .btn-search {
        padding: 9px;
      }
    }
  }
}
