.more-info-product {
    .slide__bar {
        padding: 115px 0;
        width: 100%;
        min-height: 290px;
        height: 100%;
    }
    .more-infor-box {
        width: 100%;
    }
    .center-bar {
        margin-top: 70px;
    }
}