.more-info-product {
  .slide__bar {
    padding: 115px 0;
    width: 100%;
    min-height: 290px;
    height: 100%;
  }
  .more-infor-box {
    width: 100%;
  }
  .center-bar {
    margin-top: 70px;
  }
  .comments {
    .button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        span {
            padding: 10px 25px;
        }
    }
    .rating {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 0.5rem;
      font-size: 2rem;
      color:  #FFBD13;
      margin-bottom: 2rem;
    }
    .rating .star {
      cursor: pointer;
    }
    .rating .star.active {
      opacity: 0;
      animation: animate 0.5s calc(var(--i) * 0.1s) ease-in-out forwards;
    }

    @keyframes animate {
      0% {
        opacity: 0;
        transform: scale(1);
      }
      50% {
        opacity: 1;
        transform: scale(1.2);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .rating .star:hover {
      transform: scale(1.1);
    }
  }
  .list-comment {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #746c71;
  }
}
