.container {
    max-width: 1177px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
body {
    line-height: 1;
    color: $color-text;
    background-color: $color-white;
    font-family: JosefinSans-Medium;
}