$color-white : #fff;
$color-pink : #FB2E86;
$color-button : #FB2448;
$color-blue : #2F1AC4;
$color-Off-Navy-Blue : #3F509E;
$color-text : #151875;
$color-Sky-Blue : linear-gradient(121.53deg, #F3F9FF 0%, #F1F0FF 100%);
$color-Pantone-Purple : #E0D3F5;
$color-header : #7E33E0;
$color-Off-Purple : #9F63B5;
$color-promotion : #F2F0FF;

@font-face {
    font-family: JosefinSans-Bold;
    src: url(../../fonts/Josefin_Sans/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: JosefinSans-Light;
    src: url(../../fonts/Josefin_Sans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: JosefinSans-Medium;
    src: url(../../fonts/Josefin_Sans/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: JosefinSans-Regular;
    src: url(../../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSans-SemiBold;
    src: url(../../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: JosefinSans-Thin;
    src: url(../../fonts/Josefin_Sans/JosefinSans-Thin.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(../../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../../fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Thin;
    src: url(../../fonts/Lato/Lato-Thin.ttf);
}
