.table-TablePayment-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e6f1;
  margin: 10px 0;
  .category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 50px;
    flex-wrap: wrap;
    span {
      color: #a1a8c1;
      font-size: 15px;
      margin: 5px 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .product-info-content {
    padding-left: 10px;
  }
  h4 {
    margin: 5px 0;
    font-size: 18px;
  }
  h5 {
    margin: 5px 0;
    font-size: 16px;
    line-height: calc(23 / 18);
  }
}
.table-TablePayment-col {
  .product-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &-image {
      width: 87px;
      height: 87px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .remove {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }
}
